* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
img{
    max-width: 100%;
}
/* common button */
.common-btn {
    background-color: #FD6E0A;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color:white;
    border: none;
    cursor: pointer;
}
/* outline button */
.outline-btn{

    background-color:white;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    cursor: pointer;
 
}
/* common style */
.container{
    max-width: 1200px;
    margin: auto;
    }


nav{
    
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}
.logo{
    font-weight: bold;
    font-size: 32px;
}
.logo-r{
    color: #FD6E0A;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    align-items: center;
}
ul li a{
    text-decoration: none;
}
.hero-parent-root{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.hero-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    }



.hero-left-p-1 {
    font-size: 20px;
    font-weight: 600;
}
.hero-left h2{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 12px;
}
.hero-left-btn-parent{
    margin-top: 12px;

}
.about-parent{
background-color: wheat;
margin: 70px auto;
border-radius: 10px;
padding: 75px;
text-align:center;
}
.container-about-parent p{
    margin: 20px 0;
}
.about-box-parent{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
.about-box-parent .box{
background-color: none;
padding: 5px;
border-radius: 5px;
}
/* what i do sec */
.what-i-do-parent {
    margin: 60px auto;
    text-align: center;

}
.what-i-do-card-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
.what-i-do-card-container .what-i-do-card{
    border: 2px solid #FD6E0A;
    padding: 8px;
    border-radius: 10px;
    text-align: left;
}
.what-i-do-card-container .what-i-do-card p{
    color: #757575;
    font-size: 15px;
}
.resume {
  padding: 60px;
  background: #f9f9f9;
  text-align: center;
  max-width: 1200px;
  margin: 60px auto;

}

.resume h2 {
  font-size: 28px;
  margin-bottom: 40px;
}

.resume-container {
  display: flex;
  justify-content: space-between;
  
  gap: 40px;
}

.resume-column {
  width: 48%;
  text-align: left;
}

.resume-item {
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.resume-item h4 {
  margin: 0;
  font-size: 18px;
}

.resume-item .sub {
  font-size: 14px;
  color: gray;
}

.resume-item p {
  font-size: 14px;
}

.btn {
  margin-top: 30px;
  text-align: center;
}

button {
  background: #ff6a00;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
/* my-amazing-parent */
.my-amazing-parent{
    text-align: center;
}
.gallery{
    margin-top: 20px;
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 250px;
    grid-template-areas: 
    "one two three"
    "four two six"
    "four five six"

}
.gallery img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.box-1{
grid-area: one;
}
.box-2{
    grid-area: two;
}
.box-3{
    grid-area: three;
}
.box-4{
    grid-area: four;
}
.box-5{
    grid-area: five;
}
.box-6{
    grid-area: six;
}
footer {
    
    margin-top: 60px;
    display: grid;
}

/* main container (same width as other sections) */
.footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
     background-color: #fff8f3;  
    padding: 40px;
    border-radius: 10px;
}

/* left side */
.footer-left {
    width: 48%;
    text-align: left;
}

/* right side */
.footer-right {
    width: 48%;
}

/* form style */
.footer-right input,
.footer-right textarea {
    width: 100%;
    margin-bottom: 12px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #f9f9f9;
}

/* textarea height */
.footer-right textarea {
    height: 120px;
}

/* social icons */
.social img {
    margin-right: 10px;
    cursor: pointer;
}


